@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  cursor: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, a {
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

* {
  flex-shrink: 0;
  -webkit-touch-callout: none; /* Disable callouts on iOS */
  -webkit-user-select: none; /* Disable selection on WebKit */
  -khtml-user-select: none; /* Disable selection on Konqueror HTML */
  -moz-user-select: none; /* Disable selection on Mozilla Firefox */
  -ms-user-select: none; /* Disable selection on Internet Explorer/Edge */
  user-select: none; /* Disable selection on other browsers */
}

#grad {
  background: hsla(0, 0%, 100%, 1);

  background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 10%, hsla(0, 4%, 95%, 1) 21%, hsla(0, 0%, 89%, 1) 32%, hsla(0, 0%, 89%, 1) 68%, hsla(0, 4%, 95%, 1) 79%, hsla(0, 0%, 100%, 1) 90%);
  
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 10%, hsla(0, 4%, 95%, 1) 21%, hsla(0, 0%, 89%, 1) 32%, hsla(0, 0%, 89%, 1) 68%, hsla(0, 4%, 95%, 1) 79%, hsla(0, 0%, 100%, 1) 90%);
  
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 10%, hsla(0, 4%, 95%, 1) 21%, hsla(0, 0%, 89%, 1) 32%, hsla(0, 0%, 89%, 1) 68%, hsla(0, 4%, 95%, 1) 79%, hsla(0, 0%, 100%, 1) 90%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#F3F2F2", GradientType=1 );
}

@keyframes slideInOut {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 0;
  }
}

.direction-arrow {
  animation: slideInOut 3s linear infinite;
  transition: opacity 1s ease-out;
}
